<h1>New game</h1>

<div class="container">
  <div class="letter">
     <ul>
    <% @letters.each do |letter| %>
    <li><%= letter %></li>
    <% end %>
  </ul>
  </div>
</div>

<br>
<p>What is the longest word you can find?</p>
<br>

<form action="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="word">
  <input type="submit" value="Play">
</form>
