@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&display=swap');

.letter {
  font-size: 24px;
  font-family: 'Arvo';
  color: white;
  background-color: blue;
  border: 1px solid black;
}

.container {
  width: 700px;
  margin: 0, auto;
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 32px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}
